:root {
  --primary-color: #0f1b4c;
  --content-width: 1110px;
}

* {
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Poppins, sans-serif;
}

/* Common */
a {
  text-decoration: none;
}
.content {
  width: var(--content-width);
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  min-width: 98px;
  border-radius: 12px;
  background: var(--primary-color);

  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 18px 16px;
}
.btn:hover {
  opacity: 0.9;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Header */
.fixed-header {
  background: #e6f0ff;
  padding-top: 26px;
  position: sticky;
  top: -26px;
  z-index: 1;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 12px 0;
}
.navbar ul {
  display: flex;
  margin-left: 50px;
}
.navbar ul a {
  font-weight: 500;
  font-size: 1.4rem;
  color: #4f5361;
  padding: 8px 14px;
}
.navbar ul a:hover {
  text-decoration: underline;
}
.navbar .actions {
  margin-left: auto;
}
.navbar .action-link {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
}
.navbar .action-btn {
  padding: 13px 16px;
  margin-left: 18px;
  border-radius: 8px;
}

.hero-wrap {
  background: #e6f0ff;
  height: calc(100vh - 90px);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-wrap .info {
  width: 51%;
}
.hero-wrap .sub-title {
  color: #687690;
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 1.5;
}
.hero-wrap .title {
  color: #000336;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.19;
  margin-top: 8px;
}
.hero-wrap .desc {
  color: #5a6473;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7;
  margin-top: 30px;
}
.hero-cta {
  margin-top: 40px;
  min-width: 170px;
}
.hero-img {
  position: absolute;
  right: calc((100vw - var(--content-width)) / 2 - 100px);
  bottom: 0;
}

/* Clients */
.clients {
  margin-top: 70px;
  padding: 43px 0 41px;
}
.clients .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clients .stars {
  color: #ffca56;
}
.clients .row:not(:first-child) {
  margin-top: 23px;
}
.clients .desc {
  color: #7d8589;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
}
.clients .images {
  margin-top: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.clients .images a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 42px;
  height: 90px;
  transition: 500ms;
}
.clients .images a:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}
/* Guide */
.guide {
  margin-top: 40px;
  padding: 79px 0;
}
.guide .sub-title {
  color: #000339;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
  position: relative;
}
.guide .sub-title::before {
  content: '';
  display: inline-block;

  height: 4px;
  width: 41px;
  border-radius: 12px;
  background: #000339;

  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.guide .desc {
  margin: 20px auto 0;
  color: #5a6473;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
  width: 459px;
  max-width: 100%;
}
.guide .list-guide {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}
.guide .list-guide .guide-item {
  margin: 0 70px;
  text-align: center;
}
.guide .list-guide .guide-item .title {
  margin-top: 26px;
  color: #3b3c45;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1;
}
.guide .list-guide .guide-item .link {
  margin-top: 10px;
  color: #0689ff;
  font-size: 1.4rem;
  font-weight: 600;
}
.guide .list-guide .guide-item .link .arrow {
  margin-left: 8px;
}
.guide-cta {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
.guide-cta .btn {
  min-width: 170px;
}

/* Featured */
.featured {
  margin-top: 41;
  background: #f5fafe;
  padding: 110px 0;
}
.featured .sub-title {
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1;
}
.featured .row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.featured .desc {
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.8;
}
.featured .link {
  color: #0689ff;
  font-size: 1.8rem;
  font-weight: 600;
}
.featured .arrow {
  margin-left: 8px;
}
.featured .list {
  margin-top: 70px;
  gap: 30px;
}
.featured .item {
  flex: 1;
  border-radius: 12px;
}
.featured .item .body {
  padding: 17px 20px 24px;
  background-color: white;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.featured .item .thumb {
  width: 100%;
  height: 227px;
  object-fit: cover;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.featured .item .title a {
  color: #000339;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
}
.featured .item .desc {
  margin-top: 11px;
  color: #a3a6ab;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
  word-break: break-all;
}
.featured .item .info {
  margin-top: 23px;
  display: flex;
  align-items: center;
}
.featured .item .info .label {
  color: #4d4d52;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.01em;
  margin-left: 8px;
}
.featured .item .info .icon:not(:first-child) {
  margin-left: 23px;
}

/* Stats */
.stats {
  margin-top: 75px;
  padding: 50px 0;
}
.stats .content {
  width: 1048px;
}
.stats .row {
  display: flex;
}
.stats .img-block,
.stats .info {
  width: 50%;
}
.stats .img-block {
  position: relative;
}
.stats .stats-trend {
  position: absolute;
  width: 239px;
  padding: 45px 22px 40px;
  top: 0;
  background-color: white;
  border-radius: 0px 0px 12px 12px;
  box-shadow: 90px 85px 100px 0px rgba(0, 0, 0, 0.06);
}
.stats .stats-trend .row .icon {
  margin-left: auto;
}
.stats .stats-trend .separate {
  margin-top: 25px;
  width: 100%;
  height: 1px;
  background: #e9e9e9;
}
.stats .stats-trend .avatar-block {
  margin-top: 26px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px 14px;
}
.stats .stats-trend .avatar-block .avatar-group {
  display: flex;
}
.stats .stats-trend .avatar-block .avatar-group .avatar {
  width: 16px;
  height: 16px;
  object-fit: cover;
  border-radius: 50%;

  color: #fff;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 450;
  background-color: var(--bg-color, #1f3bb1);
  text-align: center;
  line-height: 16px;
}
.stats .stats-trend .avatar-block .avatar-group .avatar:not(:first-child) {
  margin-left: -3px;
}
.stats .stats-trend .value {
  color: #000339;
  font-size: 2.6rem;
  font-weight: 500;
  letter-spacing: 0.01;
}
.stats .stats-trend .desc {
  margin-top: 8px;
  color: #a7a7a7;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
}
.stats .img-block .image {
  display: block;
  margin-left: auto;
  border-radius: 12px;
  width: 400px;
  height: 460px;
  object-fit: cover;
  box-shadow: 40px 80px 155px 0px rgba(30, 103, 113, 0.03);
}
.stats .info {
  padding: 65px 0 0 165px;
}
.stats .info .sub-title {
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.2;
  position: relative;
  width: 269px;
}
.stats .info .sub-title::before {
  content: '';
  display: inline-block;
  border-radius: 12px;
  background: #000339;
  position: absolute;
  width: 41px;
  height: 4px;
  top: -10px;
  left: 0;
}
.stats .info .desc {
  margin-top: 20px;
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.87;
  width: 309px;
}
.stats .row-qty {
  margin-top: 110px;
  padding: 0 32px;
  justify-content: space-between;
}
.stats .qty-item .qty {
  color: #000;
  font-size: 6.4rem;
  font-weight: 600;
}
.stats .qty-item .desc {
  margin-top: 22px;
  color: #7b8087;
  font-size: 1.8rem;
  font-weight: 500;
}

/* Subscription */
.subscription {
  margin-top: 90px;
}
.subscription .body {
  border-radius: 20px;
  background: #063183;
  height: 370px;
  display: flex;
  align-items: center;
  position: relative;
}
.subscription .body .info {
  padding: 0 80px;
  width: 671px;
  max-width: 100%;
}
.subscription .body .info .sub-title {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.5;
}
.subscription .body .info .desc {
  margin-top: 15px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.87;
}
.subscription .body .info .btn {
  margin-top: 20px;
  background-color: #fff;
  color: #002366;
  padding: 14px 42px;
}
.subscription .body .image {
  position: absolute;
  bottom: 0;
  right: 221px;
}
.footer {
  margin-top: 55px;
  padding: 50px 0 58px;
}
.footer .row {
  display: flex;
  justify-content: space-between;
}
.footer .row:last-child {
  margin-top: 81px;
  align-items: center;
}
.footer .heading {
  color: #1c1c1d;
  font-family: Lato;
  font-size: 2rem;
  font-weight: 700;
}
.footer .list {
  margin-top: 42px;
}
.footer .list .item {
  margin-top: 17px;
}
.footer .list .item a {
  color: #7a7a7e;
  font-size: 1.6rem;
  font-weight: 400;
}
.footer .list .desc {
  width: 257px;
  color: #7a7a7e;
  font-size: 1.6prem;
  font-weight: 400;
  line-height: 1.75;
}
.footer .list .social {
  margin-top: 40px;
}
.footer .list .social .link {
  margin-right: 8px;
  width: 28px;
  height: 28px;
  padding: 8px;
  background-color: #f9f9f9;
  border-radius: 3px;
  color: unset;
}
.footer .list .social .link:hover {
  background: #ebebeb;
}
.footer .copyright {
  color: #c2c2c2;
  font-size: 1.4rem;
  font-weight: 400;
}
